{% extends 'base.html.twig' %}

{% block title %}Quotation Form{% endblock %}

{% block body %}
<h1>Create Quotation</h1>

{{ form_start(form) }}

    {{ form_row(form.width) }}
    {{ form_row(form.height) }}
    {{ form_row(form.paper) }}
  

    <button type="submit" name="action" value="calculate" class="btn btn-primary">
        Calculate
    </button>

    

{{ form_end(form) }}
{% if debug is defined %}
    <p>{{ debug }}</p>
{% endif %}

{% if bestCut is defined and bestCut is not null %}
<hr>
<h2>Calculation Result</h2>
<ul>
    <li><strong>Cut Width with Margins:</strong> {{ bestCut[0] }}</li>
    <li><strong>Cut Height with Margins:</strong> {{ bestCut[1] }}</li>
    <li><strong>Actual Cut Width:</strong> {{ bestCut[2] }}</li>
    <li><strong>Actual Cut Height:</strong> {{ bestCut[3] }}</li>
    <li><strong>Cut Orientation:</strong> {{ bestCut[4] }}</li>
    <li><strong>Product Width:</strong> {{ bestCut[5] }}</li>
    <li><strong>Product Height:</strong> {{ bestCut[6] }}</li>
    <li><strong>Total Products:</strong> {{ bestProducts }}</li>
</ul>
{% endif %}


{% endblock %}