{% extends 'base.html.twig' %}

{% block title %}HotFoil index{% endblock %}

{% block body %}
    <h1>HotFoil index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Setup_cost</th>
                <th>Per_quantity_multiplier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hot_foil in hot_foils %}
            <tr>
                <td>{{ hot_foil.id }}</td>
                <td>{{ hot_foil.setupCost }}</td>
                <td>{{ hot_foil.perQuantityMultiplier }}</td>
                <td>
                    <a href="{{ path('app_hot_foil_show', {'id': hot_foil.id}) }}">show</a>
                    <a href="{{ path('app_hot_foil_edit', {'id': hot_foil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hot_foil_new') }}">Create new</a>
{% endblock %}
