{% extends 'base.html.twig' %}

{% block title %}Corners index{% endblock %}

{% block body %}
    <h1>Corners index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for corner in corners %}
            <tr>
                <td>{{ corner.id }}</td>
                <td>{{ corner.name }}</td>
                <td>{{ corner.price }}</td>
                <td>
                    <a href="{{ path('app_corners_show', {'id': corner.id}) }}">show</a>
                    <a href="{{ path('app_corners_edit', {'id': corner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_corners_new') }}">Create new</a>
{% endblock %}
